# Build stuff
node_modules/
dist/
dist-ssr/
*.local
.npm/

# Environment
.env
.env.production
.env.local

# Docker and other
Dockerfile
docker-compose*
README.md
.dockerignore
LICENSE
.git/
.gitignore

# OS
.DS_Store
Thumbs.db
