--
-- PostgreSQL database dump
--

\restrict 2D0HSUyYhPy727cHn9cPxSKFD39UIgkqRklcWUj0RXXC6oFOTuXolmGXBA7IEi3

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: analytics_model_cache; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.analytics_model_cache (
    model_key character varying(100) NOT NULL,
    payload jsonb DEFAULT '{}'::jsonb NOT NULL,
    model_engine character varying(30) DEFAULT 'unknown'::character varying NOT NULL,
    status character varying(30) DEFAULT 'not_trained'::character varying NOT NULL,
    message text DEFAULT ''::text NOT NULL,
    last_trained_at timestamp without time zone,
    last_requested_at timestamp without time zone,
    training_duration_ms integer,
    next_scheduled_run timestamp without time zone
);


ALTER TABLE public.analytics_model_cache OWNER TO postgres;

--
-- Name: analytics_model_runs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.analytics_model_runs (
    run_id integer NOT NULL,
    model_key character varying(100) NOT NULL,
    model_engine character varying(30) DEFAULT 'unknown'::character varying NOT NULL,
    status character varying(30) DEFAULT 'unknown'::character varying NOT NULL,
    message text DEFAULT ''::text NOT NULL,
    started_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    finished_at timestamp without time zone,
    duration_ms integer
);


ALTER TABLE public.analytics_model_runs OWNER TO postgres;

--
-- Name: analytics_model_runs_run_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.analytics_model_runs_run_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.analytics_model_runs_run_id_seq OWNER TO postgres;

--
-- Name: analytics_model_runs_run_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.analytics_model_runs_run_id_seq OWNED BY public.analytics_model_runs.run_id;


--
-- Name: auditlog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auditlog (
    log_id integer NOT NULL,
    user_id integer,
    action character varying(100) NOT NULL,
    entity_type character varying(50),
    entity_id integer,
    "timestamp" timestamp without time zone NOT NULL,
    details text
);


ALTER TABLE public.auditlog OWNER TO postgres;

--
-- Name: auditlog_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auditlog ALTER COLUMN log_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.auditlog_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    category_id integer NOT NULL,
    category_name character varying(100) NOT NULL,
    is_active boolean
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: inventory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory (
    inventory_id integer NOT NULL,
    product_id integer,
    reorder_level integer NOT NULL,
    last_updated date NOT NULL,
    quantity integer DEFAULT 0 NOT NULL,
    expected integer DEFAULT 0 NOT NULL,
    actual integer DEFAULT 0 NOT NULL,
    reason_adjustment text DEFAULT ''::text NOT NULL
);


ALTER TABLE public.inventory OWNER TO postgres;

--
-- Name: inventory_stock_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_stock_events (
    event_id integer NOT NULL,
    inventory_id integer,
    product_id integer,
    event_type character varying(50) NOT NULL,
    quantity_before integer NOT NULL,
    quantity_after integer NOT NULL,
    expected_before integer NOT NULL,
    expected_after integer NOT NULL,
    actual_before integer NOT NULL,
    actual_after integer NOT NULL,
    quantity_delta integer NOT NULL,
    expected_delta integer NOT NULL,
    actual_delta integer NOT NULL,
    difference_before integer NOT NULL,
    difference_after integer NOT NULL,
    reference_type character varying(50) DEFAULT ''::character varying NOT NULL,
    reference_id character varying(50) DEFAULT ''::character varying NOT NULL,
    reason text DEFAULT ''::text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.inventory_stock_events OWNER TO postgres;

--
-- Name: inventory_stock_events_event_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.inventory_stock_events_event_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.inventory_stock_events_event_id_seq OWNER TO postgres;

--
-- Name: inventory_stock_events_event_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.inventory_stock_events_event_id_seq OWNED BY public.inventory_stock_events.event_id;


--
-- Name: lowstockalerts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lowstockalerts (
    alert_id integer NOT NULL,
    product_id integer,
    inventory_id integer,
    threshold integer,
    quantity integer,
    status character varying(50) DEFAULT 'Open'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.lowstockalerts OWNER TO postgres;

--
-- Name: lowstockalerts_alert_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lowstockalerts_alert_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.lowstockalerts_alert_id_seq OWNER TO postgres;

--
-- Name: lowstockalerts_alert_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lowstockalerts_alert_id_seq OWNED BY public.lowstockalerts.alert_id;


--
-- Name: payments_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.payments_payment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.payments_payment_id_seq OWNER TO postgres;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payments (
    payment_id integer DEFAULT nextval('public.payments_payment_id_seq'::regclass) NOT NULL,
    invoice_id integer,
    payment_method character varying(50) NOT NULL,
    amount_paid numeric(10,2) NOT NULL,
    transaction_timestamp timestamp without time zone NOT NULL,
    paymongo_source_id character varying(255)
);


ALTER TABLE public.payments OWNER TO postgres;

--
-- Name: pos_terminals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pos_terminals (
    terminal_id integer NOT NULL,
    terminal_name character varying(50) NOT NULL,
    location character varying(100) NOT NULL,
    status character varying(20) NOT NULL,
    pos_id integer NOT NULL
);


ALTER TABLE public.pos_terminals OWNER TO postgres;

--
-- Name: product_price_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_price_history (
    history_id integer NOT NULL,
    product_id integer,
    old_price numeric(10,2),
    new_price numeric(10,2),
    changed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    changed_by integer
);


ALTER TABLE public.product_price_history OWNER TO postgres;

--
-- Name: product_price_history_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_price_history_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.product_price_history_history_id_seq OWNER TO postgres;

--
-- Name: product_price_history_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_price_history_history_id_seq OWNED BY public.product_price_history.history_id;


--
-- Name: product_return_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_return_items (
    item_id integer NOT NULL,
    return_id integer,
    product_id integer,
    quantity integer NOT NULL
);


ALTER TABLE public.product_return_items OWNER TO postgres;

--
-- Name: product_return_items_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_return_items_item_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.product_return_items_item_id_seq OWNER TO postgres;

--
-- Name: product_return_items_item_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_return_items_item_id_seq OWNED BY public.product_return_items.item_id;


--
-- Name: product_returns; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_returns (
    return_id integer NOT NULL,
    reason text DEFAULT ''::text NOT NULL,
    status character varying(50) DEFAULT 'Pending'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    processed_at timestamp without time zone,
    notes text,
    approved_at timestamp without time zone,
    rejected_at timestamp without time zone,
    supplier_id integer
);


ALTER TABLE public.product_returns OWNER TO postgres;

--
-- Name: product_returns_return_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_returns_return_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.product_returns_return_id_seq OWNER TO postgres;

--
-- Name: product_returns_return_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_returns_return_id_seq OWNED BY public.product_returns.return_id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    product_id integer NOT NULL,
    category_id integer,
    supplier_id integer,
    product_name character varying(100) NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    sku character varying(100) NOT NULL,
    date_added date,
    unit_of_measurement character varying(50),
    specific_category character varying(150),
    pos_price numeric(10,2),
    status character varying(50) DEFAULT 'Active'::character varying,
    image_url text
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: purchase_order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.purchase_order_items (
    item_id integer NOT NULL,
    order_id character varying(50),
    product_id integer,
    quantity integer NOT NULL,
    unit_price numeric(10,2)
);


ALTER TABLE public.purchase_order_items OWNER TO postgres;

--
-- Name: purchase_order_items_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.purchase_order_items_item_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.purchase_order_items_item_id_seq OWNER TO postgres;

--
-- Name: purchase_order_items_item_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.purchase_order_items_item_id_seq OWNED BY public.purchase_order_items.item_id;


--
-- Name: purchase_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.purchase_orders (
    order_id character varying(50) NOT NULL,
    supplier_id integer,
    user_id integer,
    status character varying(50) DEFAULT 'Pending'::character varying,
    expected_delivery date,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    received_at timestamp without time zone,
    total_items integer DEFAULT 0,
    notes text
);


ALTER TABLE public.purchase_orders OWNER TO postgres;

--
-- Name: reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reports (
    report_id integer NOT NULL,
    report_type character varying(100),
    generated_by integer,
    generated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    payload jsonb DEFAULT '{}'::jsonb
);


ALTER TABLE public.reports OWNER TO postgres;

--
-- Name: reports_report_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reports_report_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.reports_report_id_seq OWNER TO postgres;

--
-- Name: reports_report_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reports_report_id_seq OWNED BY public.reports.report_id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    role_id integer NOT NULL,
    role_name character varying(50) NOT NULL,
    user_id integer,
    permissions_text text
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: sales_invoice_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sales_invoice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sales_invoice_id_seq OWNER TO postgres;

--
-- Name: sales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sales (
    invoice_id integer DEFAULT nextval('public.sales_invoice_id_seq'::regclass) NOT NULL,
    pos_terminal_id integer,
    user_id integer,
    invoice_date date NOT NULL,
    total_amount numeric(10,2) NOT NULL,
    tax_amount numeric(10,2) NOT NULL,
    customer_info character varying(200) NOT NULL,
    payment_method character varying(50) NOT NULL,
    payment_status character varying(50) NOT NULL,
    service_charge numeric(10,2) NOT NULL,
    transaction_timestamp timestamp without time zone NOT NULL,
    return_id integer,
    cash_received numeric(10,2) NOT NULL,
    cash_given numeric(10,2) NOT NULL,
    change_amount numeric(10,2),
    contact_number character varying(50),
    address character varying(255),
    failure_reason text
);


ALTER TABLE public.sales OWNER TO postgres;

--
-- Name: sold_items_sold_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sold_items_sold_item_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sold_items_sold_item_id_seq OWNER TO postgres;

--
-- Name: sold_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sold_items (
    sold_item_id integer DEFAULT nextval('public.sold_items_sold_item_id_seq'::regclass) NOT NULL,
    invoice_id integer,
    product_id integer,
    return_id integer,
    quantity integer NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    total_amount numeric(10,2) NOT NULL
);


ALTER TABLE public.sold_items OWNER TO postgres;

--
-- Name: supplier; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplier (
    supplier_id integer NOT NULL,
    supplier_name character varying(150) NOT NULL,
    address character varying(150),
    email character varying(70),
    contact_number character varying(20),
    product_supplied text,
    total_orders integer NOT NULL,
    status character varying(50) DEFAULT 'Active'::character varying,
    completed_orders integer DEFAULT 0
);


ALTER TABLE public.supplier OWNER TO postgres;

--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_settings (
    setting_key character varying(100) NOT NULL,
    setting_value text NOT NULL,
    description text,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.system_settings OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    employee_id integer NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(100) NOT NULL,
    role character varying(50) NOT NULL,
    is_active boolean NOT NULL,
    created_date date NOT NULL,
    last_login date,
    username character varying(100),
    permissions_json jsonb DEFAULT '{}'::jsonb,
    email character varying(255),
    address text,
    password_changed_at date
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: analytics_model_runs run_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_model_runs ALTER COLUMN run_id SET DEFAULT nextval('public.analytics_model_runs_run_id_seq'::regclass);


--
-- Name: inventory_stock_events event_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_stock_events ALTER COLUMN event_id SET DEFAULT nextval('public.inventory_stock_events_event_id_seq'::regclass);


--
-- Name: lowstockalerts alert_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lowstockalerts ALTER COLUMN alert_id SET DEFAULT nextval('public.lowstockalerts_alert_id_seq'::regclass);


--
-- Name: product_price_history history_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_price_history ALTER COLUMN history_id SET DEFAULT nextval('public.product_price_history_history_id_seq'::regclass);


--
-- Name: product_return_items item_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_return_items ALTER COLUMN item_id SET DEFAULT nextval('public.product_return_items_item_id_seq'::regclass);


--
-- Name: product_returns return_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_returns ALTER COLUMN return_id SET DEFAULT nextval('public.product_returns_return_id_seq'::regclass);


--
-- Name: purchase_order_items item_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_order_items ALTER COLUMN item_id SET DEFAULT nextval('public.purchase_order_items_item_id_seq'::regclass);


--
-- Name: reports report_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports ALTER COLUMN report_id SET DEFAULT nextval('public.reports_report_id_seq'::regclass);


--
-- Data for Name: analytics_model_cache; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: analytics_model_runs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auditlog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (category_id, category_name, is_active) FROM stdin;
1	Lubricant	t
2	Spareparts	t
3	Accessories	t
4	Others	t
\.


--
-- Data for Name: inventory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: inventory_stock_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: lowstockalerts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lowstockalerts (alert_id, product_id, inventory_id, threshold, quantity, status, created_at) FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pos_terminals; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pos_terminals (terminal_id, terminal_name, location, status, pos_id) FROM stdin;
1	POS Terminal #01	Main	Active	1
\.


--
-- Data for Name: product_price_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_return_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_return_items (item_id, return_id, product_id, quantity) FROM stdin;
3	3	289	1
4	4	307	1
5	7	126	1
6	8	324	1
\.


--
-- Data for Name: product_returns; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_returns (return_id, reason, status, created_at, processed_at, notes, approved_at, rejected_at, supplier_id) FROM stdin;
3	damaged	Approved	2026-04-06 16:43:12.705736	\N	\N	2026-04-06 17:16:41.181198	\N	4
7	CANOLA OIL	Approved	2026-04-06 17:19:40.637063	\N	\N	2026-04-06 17:20:22.930613	\N	6
4	CANOLA OIL	Rejected	2026-04-06 17:18:11.339341	\N	\N	\N	2026-04-06 17:20:26.365089	1
8	DAMAGED	Approved	2026-04-06 17:20:53.619378	\N	\N	2026-04-06 17:21:58.248938	\N	2
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: purchase_order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.purchase_order_items (item_id, order_id, product_id, quantity, unit_price) FROM stdin;
6	PO-EP92G3VF	384	14	\N
8	PO-H0P31UT4	152	14	\N
39	PO-QB7T2364	28	8	\N
\.


--
-- Data for Name: purchase_orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reports (report_id, report_type, generated_by, generated_at, payload) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sales; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sold_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: supplier; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.system_settings (setting_key, setting_value, description, updated_at) FROM stdin;
tax_rate	0.03	Current sales tax rate (3%)	2026-04-07 12:03:07.534637
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: analytics_model_runs_run_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.analytics_model_runs_run_id_seq', 759, true);


--
-- Name: auditlog_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auditlog_log_id_seq', 67, true);


--
-- Name: inventory_stock_events_event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventory_stock_events_event_id_seq', 60, true);


--
-- Name: lowstockalerts_alert_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lowstockalerts_alert_id_seq', 1, false);


--
-- Name: payments_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.payments_payment_id_seq', 36, true);


--
-- Name: product_price_history_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_price_history_history_id_seq', 39, true);


--
-- Name: product_return_items_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_return_items_item_id_seq', 6, true);


--
-- Name: product_returns_return_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_returns_return_id_seq', 8, true);


--
-- Name: purchase_order_items_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.purchase_order_items_item_id_seq', 39, true);


--
-- Name: reports_report_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reports_report_id_seq', 1, false);


--
-- Name: sales_invoice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sales_invoice_id_seq', 400, true);


--
-- Name: sold_items_sold_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sold_items_sold_item_id_seq', 669, true);


--
-- Name: analytics_model_cache analytics_model_cache_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_model_cache
    ADD CONSTRAINT analytics_model_cache_pkey PRIMARY KEY (model_key);


--
-- Name: analytics_model_runs analytics_model_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_model_runs
    ADD CONSTRAINT analytics_model_runs_pkey PRIMARY KEY (run_id);


--
-- Name: auditlog auditlog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditlog
    ADD CONSTRAINT auditlog_pkey PRIMARY KEY (log_id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (category_id);


--
-- Name: inventory inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT inventory_pkey PRIMARY KEY (inventory_id);


--
-- Name: inventory_stock_events inventory_stock_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_stock_events
    ADD CONSTRAINT inventory_stock_events_pkey PRIMARY KEY (event_id);


--
-- Name: lowstockalerts lowstockalerts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lowstockalerts
    ADD CONSTRAINT lowstockalerts_pkey PRIMARY KEY (alert_id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (payment_id);


--
-- Name: pos_terminals pos_terminals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_terminals
    ADD CONSTRAINT pos_terminals_pkey PRIMARY KEY (terminal_id);


--
-- Name: product_price_history product_price_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_price_history
    ADD CONSTRAINT product_price_history_pkey PRIMARY KEY (history_id);


--
-- Name: product_return_items product_return_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_return_items
    ADD CONSTRAINT product_return_items_pkey PRIMARY KEY (item_id);


--
-- Name: product_returns product_returns_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_returns
    ADD CONSTRAINT product_returns_pkey PRIMARY KEY (return_id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (product_id);


--
-- Name: products products_sku_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_sku_key UNIQUE (sku);


--
-- Name: purchase_order_items purchase_order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_order_items
    ADD CONSTRAINT purchase_order_items_pkey PRIMARY KEY (item_id);


--
-- Name: purchase_orders purchase_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_pkey PRIMARY KEY (order_id);


--
-- Name: reports reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_pkey PRIMARY KEY (report_id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (role_id);


--
-- Name: sales sales_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_pkey PRIMARY KEY (invoice_id);


--
-- Name: sold_items sold_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sold_items
    ADD CONSTRAINT sold_items_pkey PRIMARY KEY (sold_item_id);


--
-- Name: supplier supplier_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier
    ADD CONSTRAINT supplier_pkey PRIMARY KEY (supplier_id);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (setting_key);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: idx_analytics_model_runs_key_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_analytics_model_runs_key_time ON public.analytics_model_runs USING btree (model_key, started_at DESC);


--
-- Name: users_username_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_username_unique ON public.users USING btree (lower((username)::text)) WHERE ((username IS NOT NULL) AND (TRIM(BOTH FROM username) <> ''::text));


--
-- Name: auditlog auditlog_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditlog
    ADD CONSTRAINT auditlog_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: products fk_products_supplier; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT fk_products_supplier FOREIGN KEY (supplier_id) REFERENCES public.supplier(supplier_id);


--
-- Name: inventory inventory_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT inventory_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id);


--
-- Name: inventory_stock_events inventory_stock_events_inventory_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_stock_events
    ADD CONSTRAINT inventory_stock_events_inventory_id_fkey FOREIGN KEY (inventory_id) REFERENCES public.inventory(inventory_id) ON DELETE CASCADE;


--
-- Name: inventory_stock_events inventory_stock_events_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_stock_events
    ADD CONSTRAINT inventory_stock_events_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id) ON DELETE CASCADE;


--
-- Name: payments payments_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.sales(invoice_id);


--
-- Name: product_return_items product_return_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_return_items
    ADD CONSTRAINT product_return_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id);


--
-- Name: product_return_items product_return_items_return_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_return_items
    ADD CONSTRAINT product_return_items_return_id_fkey FOREIGN KEY (return_id) REFERENCES public.product_returns(return_id) ON DELETE CASCADE;


--
-- Name: product_returns product_returns_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_returns
    ADD CONSTRAINT product_returns_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.supplier(supplier_id);


--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(category_id);


--
-- Name: products products_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.supplier(supplier_id);


--
-- Name: purchase_order_items purchase_order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_order_items
    ADD CONSTRAINT purchase_order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.purchase_orders(order_id) ON DELETE CASCADE;


--
-- Name: purchase_order_items purchase_order_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_order_items
    ADD CONSTRAINT purchase_order_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id);


--
-- Name: purchase_orders purchase_orders_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.supplier(supplier_id);


--
-- Name: purchase_orders purchase_orders_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: roles roles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: sales sales_pos_terminal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_pos_terminal_id_fkey FOREIGN KEY (pos_terminal_id) REFERENCES public.pos_terminals(terminal_id);


--
-- Name: sales sales_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: sold_items sold_items_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sold_items
    ADD CONSTRAINT sold_items_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.sales(invoice_id);


--
-- Name: sold_items sold_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sold_items
    ADD CONSTRAINT sold_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict 2D0HSUyYhPy727cHn9cPxSKFD39UIgkqRklcWUj0RXXC6oFOTuXolmGXBA7IEi3

