@import 'tailwindcss';
@import 'tw-animate-css';
@import './theme.css';

/* Hide browser default password reveal and clear icons */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
